.hero {
  height: 150vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
}

.hero-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: first baseline;
  padding-left: 170px;
  padding-top: 200px;
  gap: 20px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 25px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 70px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
  height: 100px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 300px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.hero-right {
  flex: 1;
  flex-basis: 150px;
  display: flex;
  align-items: first baseline;
}

.hero-right img {
  width: 75%;
  padding-top: 50px;
  padding-left: 30px;
}

/* Responsive Design */

@media (max-width: 1280px) {
  .hero-left {
    padding-left: 100px;
  }

  .hero-left h2 {
    font-size: 22px;
  }
  .hero-left p {
    font-size: 50px;
  }

  .hero-hand-icon img {
    width: 80px;
    height: 80px;
  }
  .hero-latest-btn {
    gap: 10px;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
  }

  .hero-right img {
    width: 62%;
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .hero-left {
    padding-left: 80px;
  }

  .hero-left h2 {
    font-size: 20px;
  }
  .hero-left p {
    font-size: 40px;
  }

  .hero-hand-icon img {
    width: 65px;
    height: 65px;
  }
  .hero-latest-btn {
    width: 220px;
    height: 50px;
    font-size: 15px;
  }

  .hero-right img {
    width: 55%;
    margin-top: 80px;
  }
}

@media (max-width: 800px) {
  .hero-left {
    padding-left: 40px;
  }

  .hero-left h2 {
    font-size: 16px;
  }
  .hero-left p {
    font-size: 30px;
  }

  .hero-hand-icon img {
    width: 50px;
    height: 50px;
  }
  .hero-latest-btn {
    width: 185px;
    height: 40px;
    font-size: 12px;
  }

  .hero-right img {
    width: 50%;
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
  }
  .hero-right {
    display: none;
  }
  .hero-left h2 {
    font-size: 18px;
  }

  .hero-left p {
    font-size: 50px;
    font-weight: 600;
  }

  .hero-hand-icon img {
    width: 60px;
    height: 60px;
  }

  .hero-latest-btn {
    width: 200px;
    height: 45px;
    font-size: 14px;
  }
}
